<div>
  <h1 class="title has-text-weight-normal page-header">
    Most active users by <%= @by_last %>
  </h1>
  <div class="columns header-custom">
    <div
      class="switch <%= @by_last == 'week' ? 'checked' : '' %> column is-6"
    >
      <a href="/admin" class="switch__left">Last week</a>
      <label class="switch__label">
        <input type="checkbox" class="switch__input" value="Me" <%= @by_last == 'week' ? 'checked' : '' %> />
        <div></div>
      </label>
      <a href="/admin?need=month" class="switch__right">Last month </a>
    </div>
    <div class="column is-6 has-text-right">
      <a href="/admin/download" class="button is-info is-normal">CSV Export</a>
    </div>
  </div>
</div>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><abbr title="number">#</abbr></th>
      <th>User</th>
      <th>Registered Days</th>
    </tr>
  </thead>
  <tbody>
    <% @data.each_with_index do |user, index| %>
    <% next if user[:name] == "admin" %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= user[:name] %></td>
      <td><%= user[:days] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
