<section class="section" id="content">
    <a class="button is-primary">Add new measure</a>
    <a class="button is-secundary">Set yout milestone</a>
    <h1 class="title">Historic measures of <%= @user_data.name %></h1>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Height</th>
          <th>Height +/-</th>
          <th>Weight</th>
          <th>Weight +/-</th>
          <th>BMI</th>
          <th>BMI +/-</th>
          <th>Ideal Weight</th>
        </tr>
      </thead>
      <tbody>
        <% last_height = 0 %>
        <% last_weight = 0 %>
        <% last_BMI = 0 %>
        <% @user_data.measures.each do |x| %>
        <% height_variation = (x.height - last_height) >= 0 ? "+" : "-" %>
        <% weight_variation = (x.weight - last_weight) >= 0 ? "+" : "-" %>
        <% BMI = (x.weight / (x.height * x.height)).round(2) %>
        <% BMI_variation = (BMI - last_BMI) >= 0 ? "+" : "-" %>
        <% if  weight_variation == "+" && x.weight < x.calc_ideal_weight(@user_data.gender) %>
          <% color = "yellowgreen" %>
        <% elsif  weight_variation == "-" && x.weight > x.calc_ideal_weight(@user_data.gender) %>
          <% color = "yellowgreen" %>
        <% else %>
          <% color = "salmon" %>
        <% end %>

        <tr>
          <td><%= x.date %></td>
          <td><%= x.height %></td>
          <td><%= height_variation %></td>
          <td><%= x.weight %></td>
          <td style="background-color:<%= color %> "><%= weight_variation %></td>
          <td><%= BMI %></td>
          <td><%= BMI_variation %></td>
          <td><%= x.calc_ideal_weight(@user_data.gender) %></td>
        </tr>
        <% last_height = x.height %>
        <% last_weight = x.weight %>
        <% last_BMI = BMI %>
        <% end %>
      </tbody>
    </table>
</section>