    <a class="button is-primary" href="/">Add new measure</a>
    <a class="button is-secundary" href="/milestone">Set your Goal</a>
    <h1 class="title">Historic measures of <%= @current_user.name %></h1>
    <div class="buttons has-addons">
      <span class="button is-static" >Compare weight against: </span>
      <a class="button <%= milestone == "fixed" ? "is-focused" : ""%>" href="/view_measures">Ideal weight</a>
      <a class="button <%= milestone == "user" ? "is-focused" : ""%>" href="/view_measures?milestone=user">Set Goal</a>
      <% if milestone == "user" && @current_user.set_milestone == "" %>
        <%= "<span class='button is-static' >There is no Goal Set. Please Set your Goal.</span>" %>
        <% elsif milestone == "user" && @current_user.set_milestone != "" %>
        <%= "<span class='button is-static' >Your set goal is: #{@current_user.set_milestone} kg.</span>" %>
      <% end %>
    </div>
    
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Height</th>
          <th>Height +/-</th>
          <th>Weight</th>
          <th>Weight +/-</th>
          <th>BMI</th>
          <th>BMI +/-</th>
          <th>Ideal Weight</th>
        </tr>
      </thead>
      <tbody>
        <% @current_user.measures.each_with_index do |x, index| %>

        <tr>
          <td><%= x.date %></td>
          <td><%= x.height %></td>
          <td><%= @current_user.height_variation(index) %></td>
          <td><%= x.weight %></td>
          <td style="background-color:<%= @current_user.weight_color(index, milestone) %> "><%= @current_user.weight_variation(index) %></td>
          <td><%= x.calc_bmi %></td>
          <td><%= @current_user.bmi_variation(index) %></td>
          <td><%= x.calc_ideal_weight(@current_user.gender) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>